/**/
/*nav bar and header*/
/**/

.topnav {
    text-align: center;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    display: inline-block;
    vertical-align: middle;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #555;
    color: white;
    text-align: left;
}

.active {
    background-color: #555;
}

.header-logo{
    height: 70px;
    padding: 5px;
}

/**/
/*skip to content*/
/**/
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: relative;
    left: 0px;
    top: 1em;
    width: auto;
    height: auto;
    font-size: large;
    padding: 0.5em;
    margin-left: 5em;
}

/**/
/*general formatting*/
/**/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

h1, h2 {
    color: #333;
}

h1 {
    font-weight: 600;
}

p {
    text-align: left;
}


/**/
/*main/other*/
/**/
main {
    text-align: center;
}


/**/
/*column formatting*/
/**/

/* Create three equal columns that floats next to each other */
.column3 {
    margin:auto;
    display: inline-block;
    width: 30%;
    padding: 10px;
    vertical-align: top;
    overflow: scroll;
}

/* Create two columns that float next to each other */
.column2 {
    margin:auto;
    display: inline-block;
    padding: 5px;
    vertical-align: center;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column3 {
        width: 100%;
    }
}


/**/
/*form elements*/
/**/

#wrapper {
	width: 60%;
	margin-left:auto;
    margin-right:auto;
    border: 1.5px solid;
    border-color: #333;
	border-radius: 4px;
    margin-top: 20px;
}

div#formcol1 {
	width: 100%;
    margin-left:auto;
    margin-right:auto;
}

label {
	margin-right: .3em;
    width: 5em;
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
	text-align: right;
}	

/* we place the id formcol1 in front of the li element in order to limit this formatting to the top part of the form */
#formcol1 li {
    padding: 7.5px;
	list-style:none;
}

ul {
    list-style-type: none;
    align-items: center;
}

/* stylize the text input elements */
input[type=text] {
	box-sizing: border-box;
	border: 1.5px solid dimgray;
	border-radius: 4px;
	padding: 6px;
	width: 50%;
}

legend {
	font-weight: bold;
}

input[type=submit] {
	box-sizing: border-box;
	border: 1.5px solid;
	border-radius: 4px;
	padding: 6px;
	font-size: medium;
}

input[type=submit]:hover {
	color: white;
	background-color: gray;
	border: 2px solid black;
}

select:focus, select:active, input:focus, input:active, input:focus + label,
input:active + label, label[for]:focus, label[for]:active {
	color: #FFF !important;
	background-color: #BB3D2F !important;
}

input[type=submit]:focus {
	color: white;
	background-color: gray !important;
	border: 1.5px solid black;
}


/**/
/*contact page*/
/**/

.follow-list img{
    border: 1px solid black;
    border-radius: 4px;
    width: 5em;
    margin: 7.5px;
}

iframe{
    border:0;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
}

#location1 {
    width: 15%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/**/
/*portfolio page*/
/**/

.portfolio {
    text-align: left;
    margin:auto;
    display: inline-block;
    width: 66%;
    padding: 10px;
    vertical-align: top;
    overflow: scroll;
}

/**/
/*footer stuff*/
/**/

/*footer class*/
.foot {
    margin:auto;
    display: inline-block;
    padding-top: 0.5em;
    vertical-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #ddd;
    padding: 0.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    overflow: hidden;
}

footer h2 {
    color: white;
    font-size: medium;
}
